<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
     <h2>Dashboard</h2>
   <% if (user) {%> 
     <p>Welcome, User <%=user.username%>!</p>
     <!-- <p>Welcome, User <%=user.userid%>!</p> -->
     <!-- <p>Welcome, User <%=user.exp%>!</p> -->
    <%} else { %>
     <p>Access denied.</p>
       <%} %>

       <div class="Container"></div>
       <h1>URL Shortening page</h1>
       <form method="post" action="/short" class="my-4">
       <label for="fullUrl" class="for"></label>
       <input type="hidden" name="_csrf" value="<%= token %>">
       <input required placeholder="URL"
                       type="URL"
                       name="fullUrl"
                       id="fullUrl"
                       class="form control">
                       <button class="btn-btn-success" type="Submit">Submit</button>
                   </form>

             
    <% if (items && items.length > 0) { %>
      <table>
          <thead>
              <tr>
                  <th>Column1</th>
                  <th>Column2</th>
                
              </tr>
          </thead>
          <tbody>
          
              <% items.forEach(item => { %>
                  <tr>
                      <td><a href="<%= item.longUrl %>"><%= item.longUrl %></a></td>
                      <td><a href="/redirect/<%= item.shortUrl %>" target="_blank"><%= item.shortUrl %></a></td>
                  
                  </tr>
              <% }); %>
          </tbody>
      </table>
  <% } else { %>
      <p>No data available.</p>
  <% } %>
    
</body>
</html>